<h3>Emisores</h3>
<div *ngIf="show">
    <button type="button" (click)="nuevo()" class="btn btn-small btn-success">
        Nuevo
    </button>
    <table class="table table-small">
        <thead>
            <tr>
                <th>ID</th>
                <th>RFC</th>
                <th>Fecha Inicio</th>
                <th>Capiral</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let e of emis">
                <td>{{ e.id }}</td>
                <td>{{ e.rfc }}</td>
                <td>{{ e.fechaInicioOperacion }}</td>
                <td>{{ e.capital }}</td>
                <td>
                    <button type="button" (click)="mod(e)" class="btn btn-small btn-primary">
                        Modificar
                    </button>
                    <button type="button" (click)="eli(e.id)" class="btn btn-small btn-danger">
                        Eliminar
                    </button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div *ngIf="!show">
    <div>
        <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" [ngModel]="emi.id" placeholder="Identificador" readonly="readonly" >
        </div>
        <div class="form-group">
            <label>RFC</label>
            <input type="text" class="form-control" [(ngModel)]="emi.rfc" placeholder="RFC" maxlength="13" />
        </div>
        <div class="form-group">
            <label>Fecha de inicio de operaciones</label>
            <input type="text" class="form-control" [(ngModel)]="emi.fechaInicioOperacion" maxlength="23" readonly="readonly" />
        </div>
        <div class="form-group">
            <label>Capital</label>
            <input type="number" class="form-control" [(ngModel)]="emi.capital" placeholder="0.00" />
        </div>
        <div class="form-group">
            <label>Estatus</label>
            <select [(ngModel)]="emi.activo" class="form-control">
                <option value="1">Activo</option>
                <option value="0">Baja</option>
            </select>
        </div>
        <button type="button" (click)="guarda()" class="btn btn-small btn-success">
            Guardar
        </button>
        <button type="button" (click)="regresa()" class="btn btn-small btn-danger">
            Regresar
        </button>
    </div>
</div>